/* p {
  Need to use the !important here to override any styles being applied by the materialize/fontawesome stylesheets, might not even be needed with how origins work with the cascade and specificity
  margin: 10px 0 !important; 
  I don't like how this is using an !important, lets just override the selector that is used by materialize to apply the margin on the card content ps
} */

.card .card-content p {
  margin: 10px 0;
}

h1 {
  font-size: 2.92rem;
}

.login-container {
  width: 400px;
  margin-block-start: 50px;
  text-align: center;
}

.fa-small {
  scale: .8;
}

.btn-float {
  float: left;
  margin-inline-end: 15px;
}