/* Testing how multiple author origins interact, it would seem that the cascade is formed in the order we reference our stylesheets */

.login-container {
  width: 1000px;
  margin-block-start: 50px;
  text-align: center;
}