<h2>Edit Story</h2>
<div class="row">
  {{!-- since we are editing, it requires us to issue a put request, but forms by default only support get and post requests. To implement this we must implement a method override --}}
  {{!-- for our form action here, we want to PUT(update) the current story. So we use a path parameter to be able to identify the story within our routes, interpolating the current story object id into the request url this put is being made to. --}}
  <form action="/stories/{{story._id}}" method="POST" class="col s12" enctype="application/x-www-form-urlencoded">
  {{!-- Of course we can do this in the frontend with a fetch request, but doing it in this manner, we are able to do everything on the backend. GOOD --}}
    <input type="hidden" name="_method" value="PUT">
    <div class="row">
      <div class="input-field">
        <input type="text" id="title" name="title" value="{{story.title}}">
        <label for="title">Title</label>
      </div>
    </div>
  

    <div class="row">
      <div class="input-field">
        <select name="status" id="status">
          {{#select story.status}}
          <option value="public" selected>Public</option>
          <option value="private">Private</option>
          {{/select}}
        </select>
        <label for="status">Status</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field">
        <h3>Edit Us Your Story:</h3>
        <textarea name="body" id="body">{{story.body}}</textarea>
      </div>
    </div>

    <div class="row">
      <input type="submit" value="Save" class="btn" role="submit button">
      <a href="/dashboard" class="btn orange">Cancel</a>
    </div>
  </form>
</div>
